<table border="1px">
  <thead>
    <tr>
      <td>sku denomination</td>
      <td>sku sku_combination</td>
    </tr>
  </thead>
  <tbody>
    <% index=@denomination.sku_denomination %>
    <% @denomination.sku_combination.each do |combination|%>
    <tr>
      <% index=index+1 %>
      <td><%= index %></td>
      <td>
          <%= combination%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
