
   <%= form_tag '/denomination', multipart: true do %>
        <label for="denomination">Denomination</label><%= text_field_tag :denomination%><br>
        <label for="attachment">File to Upload</label> <input id="attachment" name="attachment" type="file" />

     <%= submit_tag %>
   <% end %>


   <%#= file_field_tag :attachment %>
